<div class="container">
    <div class="header">
        <span class="logo-icon"></span>
    </div>
    <div class="main">
        <div class="login-card">
            <div class="card-header">
                <span class="card-header-text">Log In</span>
            </div>
            <div class="card-content">
                <form class="form-card">
                    <div class="text-form">
                        <input class="tp-input" type="text" placeholder="Email ID*" />
                        <a href="#">
                            <p class="forgot">FORGOT EMAIL ID?</p>
                        </a>
                    </div>
                    <div class="pwd-form">
                        <input class="tp-input" type="password" placeholder="Password*" />
                        <a href="#">
                            <p class="forgot">FORGOT PASSWORD?</p>
                        </a>
                    </div>
                    <div class="remember-checkbox">
                        <input type="checkbox" checked />
                        <label class="remember-text"> Remember Me</label>
                    </div>
                    <div class="form-button">
                        <button id="login-button">LOG IN</button>
                    </div>
                </form>
                <div class="not-registered-text">
                    Not registered yet?
                </div>
                <div class="create-account-text">
                    <a routerLink="/create-account">CREATE AN ACCOUNT</a>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="about-us">About | Contact Us</div>
        </a>
    </div>
</div>