<div class="header">
    <span class="logo-icon"></span>
    <span class="user-icon">U</span>
</div>

<div class="container">
    <div class="card">
        <div class="card-title">Walk In for Multiple Job Roles</div>
        <div class="date-time">
            <div class="div-title">
                Date & Time:
            </div>
            <div class="div-content">
                10-Jul-2021 to 11-Jul-2021 &nbsp;&nbsp;|&nbsp;&nbsp; 
                <span class="location-span">
                    <span class="location-icon"></span> &nbsp;Mumbai
                </span>
            </div>
        </div>
        <hr style="color: #000000; opacity: 22%;">
        <div class="job-roles">
            <div class="div-title">
                Job Roles:
            </div>
            <div class="div-content">
                <span class="content-span">
                    <span class="round-border"><span class="instructional-icon"></span></span>&nbsp; Instructional Designer
                </span>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <span class="content-span">
                    <span class="round-border"><span class="software-icon"></span></span>&nbsp; Software Engineer
                </span>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <span class="content-span">
                    <span class="round-border"><span class="instructional-icon"></span></span>&nbsp; Software Quality Engineer
                </span>
            </div>
        </div>
        <div class="info">
            <span class="information-label">Internship Opportunity for MCA Students</span>
        </div>
        <div class="btn">
            <a href="" class="more-details-button">VIEW MORE DETAILS</a>
        </div>
    </div>
</div>