
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Quantum1-primary: mat.define-palette(mat.$indigo-palette);
$Quantum1-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Quantum1-warn: mat.define-palette(mat.$red-palette);

@font-face {
  font-family: 'Quicksand';
  src: url("/assets/qsa/fonts/static/Quicksand-Medium.ttf") format('truetype');
  src: url("/assets/qsa/fonts/static/Quicksand-Regular.ttf") format('truetype');
  src: url("/assets/qsa/fonts/static/Quicksand-SemiBold.ttf") format('truetype');
  src: url("/assets/qsa/fonts/static/Quicksand-Light.ttf") format('truetype');
  src: url("/assets/qsa/fonts/static/Quicksand-Bold.ttf") format('truetype');
}



$my-typography: mat.define-typography-config(
  $font-family: 'Quicksand',
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Quantum1-theme: mat.define-light-theme((
  color: (
    primary: $Quantum1-primary,
    accent: $Quantum1-accent,
    warn: $Quantum1-warn,
  ),
  typography: $my-typography
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Quantum1-theme);

/* You can add global styles to this file, and also import other style files */

body, html {
    margin: 0px;
    height: 100%;
    font-family: 'Quicksand';
    background-color: #EEEEEE;
}

input {
    outline: none;
}

a {
    text-decoration: none;   
}

a, a:link, a:visited, a:hover, a:focus, a:active{
    color: #1F7A54;
}

.mt-24 {
  margin-top: 24px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-12 {
  margin-bottom: 12px;
}